In [3]:
10 < 100

False

In [4]:
100 != 100

False

In [5]:
50 >= 50

True

In [6]:
age = 19
age < 18

False

In [7]:
age < 21

True

In [8]:
age < 31

True

In [9]:
"a" < "b"

True

In [11]:
"b" < "a"

False

In [12]:
"John" < "Terry"

True

In [13]:
"john" < "Terry"

False

In [14]:
5 < 10.2

True

In [15]:
5 < "Monty"

TypeError: '<' not supported between instances of 'int' and 'str'

In [16]:
5 < "5"

TypeError: '<' not supported between instances of 'int' and 'str'

In [18]:
age = 30
age >=  18 and age <= 65

True

In [19]:
age < 18 or age > 65

False

In [20]:
not age > 18

False

In [21]:
age = 30
(age >= 18 and age <= 65) and (not age==30)

False

In [22]:
#chaining relational operators
weight = int(input("Enter the weight : "))
100 < weight and weight < 200

True

In [23]:
height = int(input("Enter the height : "))
height > 131 and height < 160

False

In [25]:
num = [1, 2, 3, 4, 5]

In [26]:
1 in num

True

In [27]:
4  not in num

False

In [28]:
msg = 1
2 in msg

TypeError: argument of type 'int' is not iterable

In [43]:
age = int(input("Emtter your age : "))

if age < 18 :
    print("you are stil young.")
else:
    print("none")

you are stil young.

In [58]:
age = int(input("Enter your age : "))
if age > 100:
	print("you are very old,")
	print("well done!")
elif age > 80:
    print("you are fairly old")
    print("pretty good!")
elif age > 40:
	print("you are middle aged")
	print("never ming")
elif age <= 40 and age >= 30:
    print("you are adult")
    print("good job")
else:
	print("you are not very old - yet")

you are adult
good job

In [61]:
#Non-boolean conditions
name = input("Enter you name")
if name != "":
    print("Your name is",name)
else:
    print("please enter your name")

Your name is saiman

In [63]:
# Ternary operator
age = int(input("Enter your age : "))
print("you are an adult" if age>=18 else "you are not an adult, yet!")

you are an adult

In [64]:
#while loop
names = ["siaman","hem","mohan","sushan"]
for n in names:
    print("your name is ",n)

your name is  siaman
your name is  hem
your name is  mohan
your name is  sushan

In [72]:
num = [2,4,6,8,10]
for x in num:
    print(x,"to the power of ",x,"= ",x**x)

2 to the power of  2 =  4
4 to the power of  4 =  256
6 to the power of  6 =  46656
8 to the power of  8 =  16777216
10 to the power of  10 =  10000000000

In [73]:
#continue with in loop
numbers = [10, 20 , 30, 90, 200, 30, 22, 11]
for grade in numbers:
    if grade >100:
        print(grade)
        break

200