In [2]:
#square root
from math import sqrt
squares = [4,9,16,25]
for i in squares:
    print(sqrt(i))

2.0
3.0
4.0
5.0

In [3]:
squares
squares.append(36)

In [4]:
squares.append(49)
squares.append(64)
squares.append(81)

In [5]:
squares

[4, 9, 16, 25, 36, 49, 64, 81]

In [6]:
squares.extend([11*11,12*12,13*13])
print(squares)

[4, 9, 16, 25, 36, 49, 64, 81, 121, 144, 169]

In [7]:
squares.insert(0,2)
print(squares)

[2, 4, 9, 16, 25, 36, 49, 64, 81, 121, 144, 169]

In [8]:
#remove method
squares.remove(49)
squares

[2, 4, 9, 16, 25, 36, 64, 81, 121, 144, 169]

In [9]:
#remove value 3
squares.remove(3)

ValueError: list.remove(x): x not in list

In [ ]:
#remove 2 from lst
lst = [1,2,3,1,2]
lst.remove(2)
print(lst)

#the value 2 is remove from first index containg 2

[1, 3, 1, 2]

In [ ]:
squares.pop()

169

In [ ]:
squares[-1]

144

In [ ]:
print(squares)

[2, 4, 9, 16, 25, 36, 64, 81, 121, 144]

In [ ]:
#remove the first value in square using pop
squares.pop(0)

2

In [ ]:
squares[0]

4

In [ ]:
print(squares)

[4, 9, 16, 25, 36, 64, 81, 121, 144]

In [ ]:
#sort method to make lsit in ordered
names = [ "Eric", "anna", "Sophie", "sam" ]
names.sort()

In [ ]:
print(names)

['Eric', 'Sophie', 'anna', 'sam']

In [ ]:
#reverse method
#Task
squares.reverse()
print(squares)

[144, 121, 81, 64, 36, 25, 16, 9, 4]

In [ ]:
colours = ["red", "green", "yellow", "blue", "red"]
colours.index("blue")

3

In [ ]:
#copy menthod 
#Task
new_colours = colours.copy()

In [ ]:
#changing orginal colour list
colours.reverse()

In [ ]:
#printing original colour list
print(colours)

['red', 'blue', 'yellow', 'green', 'red']

In [ ]:
#printing copy list
print(new_colours)

['red', 'green', 'yellow', 'blue', 'red']

List Comprehensions

In [ ]:
#Task
cubes = [x*x*x for x in range(2,20)]
print(cubes)

[8, 27, 64, 125, 216, 343, 512, 729, 1000, 1331, 1728, 2197, 2744, 3375, 4096, 4913, 5832, 6859]

In [ ]:
#Task
#problem
all_users =[]
some_users = [u for u in all_users if len(u) < 8]

In [ ]:
print(some_users)

[]

Tuples

In [11]:
#Task
#creating tuples address
address = (9876622231,'New-Baneshwor',440001)

In [12]:
print(address)

(9876622231, 'New-Baneshwor', 440001)

In [13]:
#Task
the_one = "Neo",

In [14]:
type(the_one)

tuple

In [15]:
#Task
x,y,z = address

In [16]:
print(x)

9876622231

In [17]:
print(y)

New-Baneshwor

In [18]:
print(z)

440001

In [19]:
#Task last problem
print(*address)

9876622231 New-Baneshwor 440001

In [20]:
print(address)

(9876622231, 'New-Baneshwor', 440001)